/*1. Universal*/
* {
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*2. Por tipo de Elemento HTML*/
h4 {
    background: red;
    font-size: 40px;
}

h5 {
    background: green;
    font-size: 10px;
}

/*3. Por clase*/

.grupo1 {
    background: yellow;
    border: solid black 3px;
}

/*4. Por Identificador, combinado: button[id]*/
#id_boton1 {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    /*border: solid red 5px;*/
}

/**5. Por atributo*/
[id] {
    font-size: 50px;
    border: solid yellow 10px;
    border-radius: 20px;
}

img[alt="texto1"] {
    width: 40px;
    height: 50px;
}

img[src*=".png"] {
    width: 40px;
    height: 50px;
}

/*6. Pseudo Clases(eventos)*/
i:hover {
    color: darkblue;
    font-size: 70px;
}

input:focus {
    border-color: blueviolet;
    background: red;
}