/*Generar un recuadro sobre el formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #59abe3;
}

p:before {
    content: attr(type);
    display: block;
    margin: 3px;
    font-size: 18px;
    color: #2095e2;
}

input {
    width: 270px;
    border: none;
    border-bottom: 2px solid #bebed2;
    background: none;
}

input:focus {
    outline: none;
    border-bottom: 3px solid #7c7ccf;
}

h2,
header {
    margin: 10px 2px;
    width: 225px;
    color: #78788c;
    border-bottom: 3px solid #075b93;
}

header {
    font-size: 35px;
    width: 240px;
}


.formulario {
    border-radius: 10px;
    background: #e6e6e6;
    padding: 30px 25px;
    box-shadow: 10px 10px #397196;
}

button {
    background: #a7cae1;
    padding: 15px 20px;
    font-size: 15px;
    color: #06558a;
    border-radius: 10px;
    margin-top: 20px;
}
.centra-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}